[Unit]
Description=Solar control core daemon
After=multi-user.target

[Service]
Type=simple
User=solarcontrol
Group=solarcontrol
ExecStart=/usr/local/bin/upgrade-solarcontrol.sh

[Install]
WantedBy=multi-user.target
